{% extends "base.html" %}

{% block header2 %}
<div class="header2-mini">
    <h2 class="page-big-title-left">{{movie_title}}. Загрузка видео</h2>
    <p class="page-big-title-left-desc">После загрузки изменить эту видео дорожку будет невозможно</p>
</div>
{% endblock %}

{% block main %}
<script>
function check() {
    oInput = document.getElementById("content");
    var sFileName = oInput.value;
    if (sFileName.length > 0) {
        var ext = sFileName.split('.').pop().toLowerCase();
        if(ext == "mkv") {
            document.getElementById("audio_lang_block").style.display = 'none';
        } else {
            document.getElementById("audio_lang_block").style.display = 'block';
        }
    } else {
        document.getElementById("audio_lang_block").style.display = 'block';
    }
}
</script>
<div class="edit-images-load-block">
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                {{ form.content.label }}<br>
                {{ form.content(class="form-control", type="file") }}<br>
                {% for error in form.content.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                </p>
                <p id="audio_lang_block">
                {{ form.audio_lang.label }}<br>
                {{ form.audio_lang(class="form-control", type="select") }}<br>
                {% for error in form.audio_lang.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <div>{{ message }}</div>
            </form>
            <script>
                document.getElementById("content").onchange = function(){check();};
                document.getElementById("audio_lang").onchange = function(){check();};
                check();
            </script>
</div>
{% endblock %}
