{% extends "base.html" %}

{% block header2 %}
<div class="header2-mini">
    <h2 class="page-big-title-left">{{movie_title}}. Загрузка</h2>
    <p class="page-big-title-left-desc">Добавлено: {{publisher}}</p>
</div>
{% endblock %}

{% block main %}
<div class="edit-images-load-block">
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                {{ form.content.label }}<br>
                {{ form.content(class="form-control", type="file") }}<br>
                {% for error in form.content.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <div>{{ message }}</div>
            </form>
</div>
{% endblock %}
