{% extends "base.html" %}

{% block header2 %}
<div class="header2">
<h2 class="page-big-title">Посмотреть фильм/сериал</h2>
<p class="page-big-title-desc">Сайт создавался исключительно в образовательных целях.</p>
<div class="search-big-box">
    <form class="search-big-form">
        <input type="text" id="search_query" class="search_query" placeholder="Титаник">
        <button>
            <img src="/static/img/search.png.webp">
            Искать
        </button>
    </form>
</div>
</div>
{% endblock %}

{% block main %}
<div class="cloud cloud_1"><img src="/static/img/cloud.png.webp" alt=""></div>
<div class="cloud cloud_2"><img src="/static/img/cloud.png.webp" alt=""></div>
<div class="cloud cloud_3"><img src="/static/img/cloud.png.webp" alt=""></div>
<div class="cloud cloud_4"><img src="/static/img/cloud.png.webp" alt=""></div>
<div class="header2-content">
    <h2 class="page-mid-title">Поддерживаемые функции</h2>
    <div class="center-div"><div class="services-list">
        <div class="service">
            <p class="service-title">Смотрите фильмы и сериалы</p>
            <p class="service-desc">Вам доступны все фильмы и сериалы сервиса</p>
            <a class="service-btn" href="/search">Перейти</a>
        </div>
        <div class="service">
            <p class="service-title">Ставьте оценки и пишите рецензии</p>
            <p class="service-desc">Ваше мнение будет видно всем</p>
            <a class="service-btn" href="/search">Перейти</a>
        </div>
        <div class="service">
            <p class="service-title">Загружайте контент самостоятельно</p>
            <p class="service-desc">Вы можете сами загрузить фильмы и сериалы</p>
            <a class="service-btn" href="/my">Перейти</a>
        </div>
    </div></div>
</div>
{% endblock %}
