{% extends "base.html" %}

{% block header2 %}
<div class="header2-mini">
    <h2 class="page-big-title-left">Рецензия</h2>
    <p class="page-big-title-left-desc"> на "{{movie_title}}"</p>
</div>
{% endblock %}

{% block main %}
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}